@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*====================================================================ESTILOS DEL MAIN====================================================================*/
/*=================HOME=================*/
.sectionHome {
  background-color: #ecf0fc;
  width: 100%;
  height: 120%;
  text-align: center;
  object-fit: cover;
}

h1 {
  font-size: 150%;
  text-align: center;
  color: rgba(61, 6, 119, 0.766);
  padding: 1%;
  font-family: "Bungee", serif;
  background-color: #ecf0fc;
}

.sectionHome__article--formato {
  background-color: white;
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.imagenHome {
  vertical-align: top;
  width: 100%;
  padding: 2%;
}

.slogan {
  font-family: "Source Serif Pro", sans-serif;
  color: red;
  /* color: rgb(51, 12, 65); */
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 4%;
}

@media screen and (min-width: 470px) {
  h1 {
    font-size: 300%;
  }
  .slogan {
    font-size: 1.5rem;
  }
  .sectionHome__article--formato {
    display: inline-block;
    width: 30%;
    margin-inline: 9%;
  }
}
/*=================QUIENES SOMOS=================*/
.quienesSomos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 2%;
  width: 100%;
}

.quienesSomos__article--fotos {
  background-color: #ecf0fc;
  /*   width: 100%;
  height: 15%; */
}

.quienesSomos__img--foto {
  width: 100%;
  height: 100%;
  padding: 3%;
}

.quienesSomos__article--perfil {
  font-family: Source Serif pro;
  width: 85%;
  font-size: 2rem;
  text-underline-offset: 1rem;
}
.quienesSomos__article--perfil h2 {
  color: rgba(61, 6, 119, 0.766);
}
.quienesSomos__article--perfil h3 {
  margin-bottom: 1%;
  color: #7989b8;
  font-size: 2rem;
}
.quienesSomos__article--perfil p {
  font-family: Source Serif;
  text-align: justify;
  font-size: 1.8rem;
  text-decoration: none;
}

@media screen and (min-width: 470px) {
  .quienesSomos {
    text-align: left;
    padding: 2%;
  }
  .quienesSomos__article--fotos {
    background-color: #ecf0fc;
    height: auto;
    width: auto;
  }
  .quienesSomos__img--foto {
    width: 285px;
    height: 300px;
    padding: 3%;
  }
  .quienesSomos__article--perfil {
    margin-left: 2%;
    width: 76%;
  }
}
/*=================SERVICIOS=================*/
.servicios {
  justify-content: space-around;
}

.servicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2%;
  justify-content: space-around;
}

.servicios__imagen--tamaño {
  width: 475px;
  height: 420px;
}

.section__ul--texto {
  padding-left: 3%;
  font-size: 1.8rem;
  text-decoration: none;
  list-style-position: inside;
  list-style-type: circle;
  text-align: justify;
  font-family: Source Serif;
}

/*=================CONTACTO=================*/
.contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contacto__article--form {
  width: 85%;
  justify-self: center;
}

.divEscribinos {
  background-color: #ecf0fc;
  margin-top: 5%;
  padding: 8%;
  min-width: max-content;
}
.divEscribinos .h2Escribinos {
  color: rgba(61, 6, 119, 0.766);
  font-size: 2rem;
}

form {
  font-size: 1.6rem;
  margin-top: 2%;
  min-width: max-content;
}
form .textArea,
form input {
  width: 100%;
}
form .boton {
  width: 20%;
  margin-left: 75%;
}

.contacto__article--redes {
  text-align: center;
  padding-top: 8%;
}
.contacto__article--redes h2 {
  color: rgba(61, 6, 119, 0.766);
  font-size: 2rem;
}

.redesContacto {
  text-align: center;
  text-decoration: none;
  color: #7989b8;
  font-size: 4rem;
}
.redesContacto a {
  font-size: 1.5rem;
  text-decoration: none;
}
.redesContacto a i {
  font-size: 8rem;
}

.contacto__article--mapa {
  justify-self: stretch;
  align-self: stretch;
  padding: 5%;
}

.contacto__article--domicilio {
  justify-self: stretch;
  align-self: stretch;
}
.contacto__article--domicilio h2 {
  color: rgba(61, 6, 119, 0.766);
  font-size: 2.2rem;
  text-align: center;
}
.contacto__article--domicilio p {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 2%;
}

@media screen and (min-width: 700px) {
  .contacto {
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-height: 100vh;
    grid-template-columns: 3.5fr 2fr;
    grid-template-areas: "article_form article_redes" "article_map article_dom";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: stretch;
    align-content: stretch;
  }
  .contacto__article--form {
    grid-area: article_form;
    width: 80%;
    align-self: stretch;
    justify-self: center;
  }
  form {
    margin-left: 4%;
  }
  .contacto__article--redes {
    grid-area: article_redes;
    text-align: center;
    padding-top: 20%;
  }
  .contacto__article--mapa {
    grid-area: article_map;
    justify-self: stretch;
    align-self: stretch;
    padding: 10%;
  }
  .contacto__article--domicilio {
    grid-area: article_dom;
    justify-self: stretch;
    align-self: stretch;
  }
  .contacto__article--domicilio h2 {
    margin-top: 20%;
    margin-left: 20%;
  }
  .contacto__article--domicilio p {
    text-align: start;
    padding-left: 25%;
    margin-top: 4%;
  }
}
/*=================PARTNERS=================*/
.divPartner {
  justify-self: center;
  align-self: center;
}

.imgPartner {
  /* 
    background-color: red; */
  margin: 0%;
  padding: 1%;
  width: 80%;
  height: 50%;
}

/*====================================================================ESTILOS DEL HEADER====================================================================*/
.logo {
  height: 8rem;
  vertical-align: top;
}

body {
  font-family: "Montserrat", sans-serif;
  /*height: 100vh; Solo para poder ver el position sticky */
  height: 100%;
}

header {
  width: 100%;
  background-color: rgba(36, 43, 68, 0.9725490196);
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 0.9;
}

nav {
  background-color: #c7d2f5;
  text-align: right;
}

.menu {
  width: 100%;
  list-style: none;
  display: inline-block;
  position: relative;
  right: 2%;
  margin: 0;
}
.menu .menu__items--i {
  display: inline-block;
  margin-right: 2%;
}
.menu .menu__items--i .menu__items--texto {
  color: rgba(64, 8, 85, 0.881);
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
}
.menu .menu__items--i .menu__items--texto:hover {
  opacity: 0.65;
}

@media screen and (min-width: 470px) {
  .menu__items--texto {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 300%;
  }
  .slogan {
    font-size: 1.5rem;
  }
}
/*====================================================================ESTILOS DEL FOOTER====================================================================*/
footer {
  width: 100%;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
}

.tituloContactos {
  font-size: 1rem;
}

.redes a i {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  padding-inline: 0.5%;
}
.redes a i:hover {
  opacity: 0.7;
}

.copyright {
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 0.4rem;
}
.copyright a {
  color: black;
  text-decoration: none;
}
.copyright a:hover {
  opacity: 0.7;
}

@media screen and (min-width: 470px) {
  .copyright {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=styles.css.map */
