/*=================CONTACTO=================*/

.contacto {
  @include flex;
  justify-content: center;
}

.contacto__article--form {
  width: 85%;
  justify-self: center;
}

.divEscribinos {
  background-color: #ecf0fc;
  margin-top: 5%;
  padding: 8%;
  min-width: max-content;
  .h2Escribinos {
    color: $color_titulo;
    font-size: 2rem;
  }
}

form {
  font-size: 1.6rem;
  margin-top: 2%;
  min-width: max-content;
  .textArea,
  input {
    width: 100%;
  }
  .boton {
    width: 20%;
    margin-left: 75%;
  }
}

.contacto__article--redes {
  text-align: center;
  padding-top: 8%;
  h2 {
    color: $color_titulo;
    font-size: 2rem;
  }
}

.redesContacto {
  text-align: center;
  text-decoration: none;
  color: #7989b8;
  font-size: 4rem;
  a {
    font-size: 1.5rem;
    text-decoration: none;
    i {
      font-size: 8rem;
    }
  }
}

.contacto__article--mapa {
  justify-self: stretch;
  align-self: stretch;
  padding: 5%;
}

.contacto__article--domicilio {
  justify-self: stretch;
  align-self: stretch;
  h2 {
    color: $color_titulo;
    font-size: 2.2rem;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 2%;
  }
}
