/*=================QUIENES SOMOS=================*/

.quienesSomos {
  @include flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 2%;
  width: 100%;
}

.quienesSomos__article--fotos {
  background-color: #ecf0fc;
  /*   width: 100%;
  height: 15%; */
}

.quienesSomos__img--foto {
  width: 100%;
  height: 100%;
  padding: 3%;
}

.quienesSomos__article--perfil {
  font-family: Source Serif pro;
  width: 85%;
  font-size: 2rem;
  text-underline-offset: 1rem;
  h2 {
    color: $color_titulo;
  }

  h3 {
    margin-bottom: 1%;
    color: #7989b8;
    font-size: 2rem;
  }

  p {
    font-family: Source Serif;
    text-align: justify;
    font-size: 1.8rem;
    text-decoration: none;
  }
}

@media screen and (min-width: $screen_minima) {
  .quienesSomos {
    text-align: left;
    padding: 2%;
  }

  .quienesSomos__article--fotos {
    background-color: #ecf0fc;
    height: auto;
    width: auto;
  }

  .quienesSomos__img--foto {
    width: 285px;
    height: 300px;
    padding: 3%;
  }

  .quienesSomos__article--perfil {
    margin-left: 2%;
    width: 76%;
  }
}
