/*=================SERVICIOS=================*/

.servicios {
  justify-content: space-around;
  @include flex;
  padding: 2%;
}

.servicios__imagen--tamaño {
  width: 300px;
  height: 280px;
  padding: 2%;
}

.section__ul--texto {
  padding-left: 3%;
  font-size: 1.8rem;
  text-decoration: none;
  list-style-position: inside;
  list-style-type: circle;
  text-align: justify;
  font-family: Source Serif;
}
