* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

$fuente_1: "Montserrat", sans-serif;
$fuente_2: "Source Serif Pro", sans-serif;
$fuente_3: "Source Serif", sans-serif;
$screen_minima: 470px;
$color_titulo: rgba(61, 6, 119, 0.766);

@mixin flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*====================================================================ESTILOS DEL MAIN====================================================================*/

@import "index";
@import "quienes_somos";
@import "servicios";
@import "contacto";
@import "partners";

/*====================================================================ESTILOS DEL HEADER====================================================================*/

.logo {
  height: 8rem;
  vertical-align: top;
}

body {
  font-family: $fuente_1;
  height: 100%;
}

header {
  width: 100%;
  background-color: #242b44f8;
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 0.9;
}

nav {
  background-color: #c7d2f5;
  text-align: right;
}

.menu {
  width: 100%;
  list-style: none;
  display: inline-block;
  position: relative;
  right: 2%;
  margin: 0;
  .menu__items--i {
    display: inline-block;
    margin-right: 2%;
    .menu__items--texto {
      color: rgba(64, 8, 85, 0.881);
      font-size: 1.1rem;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        opacity: 0.65;
      }
    }
  }
}

/*====================================================================ESTILOS DEL FOOTER====================================================================*/

footer {
  width: 100%;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
}

.tituloContactos {
  font-size: 1rem;
}

.redes {
  a {
    i {
      font-size: 1rem;
      color: white;
      text-decoration: none;
      padding-inline: 0.5%;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.copyright {
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 0.4rem;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
  }
}

/*====================================================================MEDIA QUERIES====================================================================*/

/* ----HEADER & SLOGAN---- */
@media screen and (min-width: $screen_minima) {
  .menu__items--texto {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 300%;
  }
  .slogan {
    font-size: 1.5rem;
  }

  /* ----FOOTER---- */
  .copyright {
    font-size: 0.9rem;
  }

  /* ----INDEX---- */
  h1 {
    font-size: 300%;
  }
  .slogan {
    font-size: 1.5rem;
  }
  .sectionHome__article--formato {
    display: inline-block;
    width: 30%;
    margin-inline: 9%;
  }

  /* ----QUIENES SOMOS---- */
  .quienesSomos {
    text-align: left;
    padding: 2%;
  }

  .quienesSomos__article--fotos {
    background-color: #ecf0fc;
    height: auto;
    width: auto;
  }

  .quienesSomos__img--foto {
    width: 285px;
    height: 300px;
    padding: 3%;
  }

  .quienesSomos__article--perfil {
    margin-left: 2%;
    width: 76%;
  }

  /* ----SERVICIOS---- */
  .servicios__imagen--tamaño {
    width: 475px;
    height: 420px;
  }
}

/* ----CONTACTO---- */
@media screen and (min-width: 700px) {
  .contacto {
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-height: 100vh;
    grid-template-columns: 3.5fr 2fr;
    grid-template-areas: "article_form article_redes" "article_map article_dom";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: stretch;
    align-content: stretch;
  }

  .contacto__article--form {
    grid-area: article_form;
    width: 80%;
    align-self: stretch;
    justify-self: center;
  }

  form {
    margin-left: 4%;
  }

  .contacto__article--redes {
    grid-area: article_redes;
    text-align: center;
    padding-top: 20%;
  }

  .contacto__article--mapa {
    grid-area: article_map;
    justify-self: stretch;
    align-self: stretch;
    padding: 10%;
  }

  .contacto__article--domicilio {
    grid-area: article_dom;
    justify-self: stretch;
    align-self: stretch;
  }

  .contacto__article--domicilio h2 {
    margin-top: 20%;
    margin-left: 20%;
  }

  .contacto__article--domicilio p {
    text-align: start;
    padding-left: 25%;
    margin-top: 4%;
  }
}
